.App {
  text-align: center;
  background-image: url(./Images/123.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid{
  display:flex;
  flex-direction: row;
  margin:10px;
}
p{
  color:black;
}
h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color:black;
  align-self: center;
  padding-right: 5px;
}
h4{
  color:white;
}
h5{
  color:black;
}
h6{
  color:black;
}

.container {
  display:flex;
  flex-direction: row;
  background-color:rgb(17, 16, 58)!important;
}
.container > div{
  margin:40px;
}
.Card{
  background-color:rgb(17, 16, 58)!important;
}

.ProjectsGrid > div{
  margin:30px;
}
.projects{
  align-items: center !important;
}
.card{
  padding-left: 20px;
  padding-right: 20px;
  border:none;
}
/*****************************************Media Query*********************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and  (max-width: 768px) {
  body{
    width:fit-content;
    
  }
  
  App {
    text-align: center;
    background-image: url(./Images/123.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover; 
  }
   
  .App-header {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
 
  
  .App-link {
    color: #61dafb;
  }
  
.grid{
    display:flex;
    flex-direction: row;
    margin:10px;
  }
  p{
    color:black;
  }
  h1{
    color: white;
  }
  h2{
    color: white;
  }
  h3{
    color:black;
    align-self: center;
    padding-right: 5px;
  }
  h4{
    color:white;
  }
  h5{
    color:black;
  }
  h6{
    color:black;
  }
  .container {
    width: 100%;
    display:flex;
    flex-direction: row;
    background-color:rgb(17, 16, 58)!important;
  }
  .container > div{
    margin:40px;
  }
  .Card{
    background-color:rgb(17, 16, 58)!important;
  }
  
  .ProjectsGrid > div{
    margin:30px;
  }
  .projects{
    align-items: center !important;
  }
  .card{
    padding-left: 20px;
    padding-right: 20px;
    border:none;
  }
  
  .process{
    min-height:30vh;
  }
  .qr{
    min-height:40vh;
  }
  .manual{
    min-height:40vh;
  }
  .article{
    min-height: 40vh;
  }
}


